
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  h1,p,div,input {
    font-family: 'Josefin Sans', sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  .inputShop {
    text-align: center;

  }

  .inputShop:focus {
    outline: none;
  }
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

  .css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin:  0;
}


.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: none;
  border: 1px solid #ebeae7;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:nth-child(2) {
  border-top: 0;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:nth-child(3) {
  border-top: 0;
}


.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
  opacity: 0;
}

.MuiBadge-badge {
  right: -5px;
}
