
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  h1,p,div,input {
    font-family: 'Josefin Sans', sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  .inputShop {
    text-align: center;

  }

  .inputShop:focus {
    outline: none;
  }
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

  .css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin:  0;
}


.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: none;
  border: 1px solid #ebeae7;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:nth-child(2) {
  border-top: 0;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:nth-child(3) {
  border-top: 0;
}


.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
  opacity: 0;
}

.MuiBadge-badge {
  right: -5px;
}

/* Custome checkbox */
/* The wrapChecked */
.wrapChecked {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.wrapChecked input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin-top: -4px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.wrapChecked:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.wrapChecked input:checked ~ .checkmark {
  background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.wrapChecked input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.wrapChecked .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}